---
---
RewriteEngine On

# Redirect signups to the google form
RewriteRule ^syllabus$	syllabus.pdf [R=302,L]
RewriteRule ^signin$ https://docs.google.com/forms/d/e/1FAIpQLSdmoLZVM5YQkFYZr6eV12UTaaRrVSJOC4Gxb3QkbbLly8NvTQ/viewform [R=302,L]
RewriteRule ^gdrive$ https://drive.google.com/drive/folders/0ABo8c7NywpcMUk9PVA
RewriteRule ^piazza$	https://piazza.com/class/jku13vim2ln3c9 [R=302,L]

{% for item in site.data.materials %}
{% if item.slides %}
RewriteRule ^slides/{{item.id}}$ {{item.slides}} [R=302,L]
{% endif %}
{% if item.lab %}
RewriteRule ^labs/{{item.id}}$ {{item.lab}} [R=302,L]
{% endif %}
{% endfor %}

