footer {
    font-size: 12px;

    p {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: row;
        align-items: center;
    }

    img {
        padding-right: 10px;
    }

    a.no-underline {
        background-image: none;
    }

    .text {
        margin: auto;
    }
}
