<footer>
  <div class="row">
    <div class="col-lg-12 text-center">
      <p>
        <a href="https://www.digitalocean.com">
          <img src="/images/digitalocean.png" style="height: 34px; width: 200px;" />
        </a>
        With great appreciation to
        <a href="https://www.digitalocean.com">DigitalOcean</a> for sponsoring the
        Introductory Track of the DeCal
      </p>

      <p>
        <a href="https://www.ocf.berkeley.edu">
          <img src="https://www.ocf.berkeley.edu/hosting-logos/ocf-hosted-penguin.svg"
               alt="Hosted by the OCF" style="border: 0;" />
        </a>
        Copyright &copy; Open Computing Facility, eXperimental Computing Facility 2017.
      </p>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
</footer>
