<footer>
  <div class="row">
    <div class="col-lg-12 text-center">
      <p>
        <a href="https://www.digitalocean.com">
          <img src="/images/digitalocean.png" style="height: 34px; width: 200px;" />
        </a>
        With great appreciation to
        <a href="https://www.digitalocean.com">DigitalOcean</a> for sponsoring the
        VMs used in both tracks of the DeCal
      </p>

      <p>
        <a href="https://www.ocf.berkeley.edu">
          <img src="https://www.ocf.berkeley.edu/hosting-logos/ocf-hosted-penguin.svg"
               alt="Hosted by the OCF" style="border: 0;" />
        </a>
        <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">
          Copyright CC BY-NC-SA 4.0
        </a>
        &copy; Open Computing Facility, eXperimental Computing Facility
      </p>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
</footer>
