<footer>
  <div class="col-lg-12 text-center">
    <p>
      <a href="https://www.digitalocean.com">
        <img src="/images/digitalocean.png" style="height: 34px; width: 200px;" /></a>
      &nbsp;&nbsp;With great appreciation to
      <a href="https://www.digitalocean.com">DigitalOcean</a> for sponsoring the
      VMs used in both tracks of the DeCal
    </p>
    <p>
      <a href="https://www.linode.com">
        <img src="/images/linode.png" style="height: 50px; width: 125px;" /></a>
      &nbsp;&nbsp;Huge thanks to
      <a href="https://www.linode.com">Linode</a> for sponsoring the equipment 
      used to record digital lectures for the Decal
    </p>
    <p>
      <a href="https://www.ocf.berkeley.edu">
        <img src="https://www.ocf.berkeley.edu/hosting-logos/ocf-hosted-penguin.svg"
             alt="Hosted by the OCF" style="border: 0;" /></a>
      Copyright &copy; 2017-2020
      <a href="https://www.ocf.berkeley.edu">
        Open Computing Facility
      </a>
      and
      <a href="https://xcf.berkeley.edu">
        eXperimental Computing Facility
      </a>
    </p>
    <p>
      This website is licensed under the terms of the
      <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">
        CC BY-NC-SA 4.0
      </a>
      License.
      <a href="https://github.com/0xcf/decal-web/">
        Source Code
      </a>
      available on GitHub
    </p>
  </div>
  <!-- /.col-lg-12 -->
</footer>
