---
layout: default
---
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">{{ site.shorttitle | default: site.title }}</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a href="https://docs.google.com/document/u/4/d/e/2PACX-1vQwMYxii-b0OLO7qEbnSvq4MP9fp95XORznytEuK-FWMlIzx_WLvivUIcZ2yIfNzHdwBAJGorebaGxf/pub" target="_blank">Syllabus</a>
        </li>
        <li>
          <a href="#calendar">Calendar</a>
        </li>
        <li>
          <a href="#administrivia">Policies</a>
        </li>
        <li>
          <a href="#faq">FAQ</a>
        </li>
        <li>
          <a href="#staff">Staff</a>
        </li>
        <li>
          <a href="archives.html">Archive</a>
        </li>
        <li>
          <a href="mailto:decal@ocf.berkeley.edu">Contact</a>
        </li>
        <li>
          <a href="https://www.ocf.berkeley.edu/">OCF</a>
        </li>
        <li>
          <a href="https://xcf.berkeley.edu">XCF</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<div class="container">
  {{ site.sections | where:"slug","intro" | first | content }}

  {% include announcements.html %}
  
  {% include calendar.html %}

  {{ site.sections | where:"slug","policies" | first | content }}

  {% include staff.html %}
</div>
